*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid purple; */
}
body{
    background-color: #203541;
}
h1, h2, h3, h4, h5, h6, p{
    color: white;
}

/* Nav */
.left-nav, .right-nav{
    height: 100vh;
    width: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    margin: 0;
    /* z-index: 1; */
    transition: 0.5s;
    background-color: #374955;
}

.left-nav{
    left: 0;
    top: 0;
}

.right-nav{
    top: 0;
    right: 0;
}

.nav-header{
    height: 50px;
    background-color: #203541;
}

.nav-logo{
    float: left;
}
.close-nav{
    float: right;
    position: relative;
}
.nav-logo, .close-nav{
    width: 50px;
    background-color: #f62a66;
    height: inherit;
}

.nav-ham{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-ham, .nav-ham:before{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: white;
}

.nav-ham:before{
    transform: rotate(270deg);
    content: "";
    background-color: dodgerblue;
}

ul{
    padding-left: 20px;
    list-style-type: none;
}
li{
    margin: 10px;
    border: 1px solid black;
}
a{
    text-decoration: none;
    background-color: pink;
}

/* Container */

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /* visibility: hidden; */
    display: none;
}

#carousel-container{
    transition: margin-left .5s;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 5;
}
.cont-cont{
    position: relative;
    width: 100%;
    left: 0;
    /* right: 0; */
    transition: all 0.5s;
}
.sm{
    width: 70px;
}

.md{
    width: 200px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.header-content{
    height: inherit;
}

.header{
    height: 70px;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

.hamburger{
    background-color: green;
    position: relative; /* For positioning the .ham class in the center */
}

.logo{
    background-color: yellow;
}
.space{
    background-color: grey;
}
.dotted-circles{
    background-color: blue;
    position: relative; /* For positioning the .ham class in the center */
}


/* Hamburger */
.hamburger .ham, .hamburger .ham:before, .hamburger .ham:after{
    width: 10px;
    height: 3px;
    transition: 0.5s;
}

.dotted-circles .circle, .dotted-circles .circle:before, .dotted-circles .circle:after{
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
.hamburger .ham, .dotted-circles .circle{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger .ham:before, .hamburger .ham:after, .dotted-circles .circle:before, .dotted-circles .circle:after{
    /* width: 10px;
    height: 3px; */
    background-color: white;
    position: absolute;
    content: "";
}

.hamburger .ham:before{
    top: -5px;
}
.hamburger .ham:after{
    bottom: -5px;
}
.dotted-circles .circle:before{
    top: -5px;
}
.dotted-circles .circle:after{
    bottom: -5px;
}

/* Carousel */
.carousel{
    position: absolute;
    top: 0;
    border: 1px solid red;
    height: 90vh;
    z-index: -1;
    width: 100%;
    /* margin-top: 70px; */
}
.caption{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    font-size: 26px;
    font-weight: 700;
}


/* Perspective */

.perspective-container{
    border: 1px solid green;
    /* margin: 0 auto; */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* transform-style: preserve-3d; */
    /* z-index: 4; */
    
}
.perspective-container a{
    /* display: inline-block; */
    /* margin: 0;
    white-space: nowrap; */
    background-color: transparent !important;
    color: white;
}

.flipper{
    
    /* z-index: 10000; */
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 200px;
    height: 50px;
    line-height: 50px;
    position: relative;
    display: inline-block;
    margin: 0;
}

.front, .back{
    width: 100%;
    height: 100%;
    /* line-height: 50px; */
    position: absolute;
    backface-visibility: hidden;
    transition: all 2s;
    transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    text-align: center;
    text-transform: uppercase;
    /* background-color: transparent; */
}

.front{
    transform: rotateX(0deg) translateZ(25px);
    background-color: transparent;
    border: 3px solid white;
}
.back{
    background-color: #f62a66;
    transform: rotateX(90deg) translateZ(25px);
}

.flipper:hover .front{
    background-color: white;
    color: #203541;

    transform: rotateX(-90deg) translateZ(25px);
}

.flipper:hover .back{
    transform: rotateX(0deg) translateZ(25px);
    
}

.contents{
    position: relative;
}

@media only screen and (min-width: 767px){
    .hamburger .ham:before, .hamburger .ham:after{
        width: 10px;
        height: 4px
    }
    
    .hamburger .ham{
        width: 20px;
        height: 4px;
    }

    .hamburger, .dotted-circles{
        z-index: 10;
    }
    
    .dotted-circles .circle, .dotted-circles .circle:before, .dotted-circles .circle:after{
        width: 6px;
        height: 6px;
    }
    .hamburger .ham:before{
        top: -10px;
    }
    .hamburger .ham:after{
        bottom: -10px;
    }
    .dotted-circles .circle:before{
        top: -10px;
    }
    .dotted-circles .circle:after{
        bottom: -10px;
    }
    
    /* Perspective */
    .caption{
        font-size: 36px;
    }
    .perspective-container{
        /* top: 50%; */
    }

    
}
