body{
    margin: 0;
}
/* .group{
    
    margin: 0;
    max-height: 1000px;
} */
.dropbtn{
    display: none;
}

/*************************************************/

/* Header */
header{
    /* sets the space inside the header */
    padding: 10px;
    /* background: red; */
}
h1 > span{
    color: green;
    font-weight: 500;
}
.header-heading, .header-paragraph{
    /* closes the gap between header and the navigation */    
    text-align: center;
    margin: 0;
}
header h1{
    font-family: 'lucida console';
}

/*************************************************/

/* Horizontal nav */

/* .horizontal-nav{
} */
.horizontal-ul {
    overflow: hidden;
    background-color: rgb(126, 126, 117);
    padding: 0;
    margin:0;
    list-style-type: none;
    
}
.horizontal-list{
    float: left;
    /* background: green; */
}
.horizontal-list .horizontal-anchor{
    display: block;
    /* background: palevioletred; */
    padding: 14px 16px;   
    text-decoration: none;
    font-weight: 600;
    color: white;
    /* margin: 5px; */
}
.horizontal-list .horizontal-anchor:hover{
    background: aquamarine
}
#horizontal-search{
    padding: 14px 16px; 
    float: right;
    /* font-size: 18px; */
    font-weight: 600;
}


/*************************************************/

/* Vertical nav */
.vertical-nav{
    /* The use of padding-bottom and margin-bottom 
    here is to give both floated divs(.main nd .vertical-nav), 
    same height. */
    padding-top: 10px;
    padding-bottom: 500em;
    margin-bottom: -500em;
    max-width: 25%;
    float: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* background-color: rgba(41, 117, 179); */
}
.vertical-ul{
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.vertical-list .vertical-anchor{
   display: block;
   padding: 14px 16px;
   text-decoration: none;
   font-weight: 500;
}
/* Main */
.main{
    float: left;
    max-width: 75%;
    /* Giving .main same height with .vertical-nav */
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.wrap{
    overflow: hidden;
}

/*************************************************/

/* Queries */

@media only screen and (max-width: 600px)/* and (min-width: 300px)*/{
    
    /* .horizontal-ul .horizontal-list:nth-child(5), .horizontal-list:nth-child(4)
    {
        background: red;
        display: none;
    }    */
    .dropbtn{
        display: inline;
    }
    .vertical-nav{
        display: block;
    }
    .vertical-ul {
        overflow: hidden;
        background-color: rgb(126, 126, 117);
        padding: 0;
        margin:0;
        list-style-type: none;
        
    }
    .vertical-list{
        float: left;
        /* background: green; */
    }
    .vertical-list .vertical-anchor{
        display: block;
        /* background: palevioletred; */
        padding: 14px 16px;   
        text-decoration: none;
        font-weight: 600;
        color: white;
        /* margin: 5px; */
    }
    .vertical .vertical-anchor:hover{
        background: aquamarine
    }

    .horizontal-ul{
        display: none;
    }
    .main{
        display: block;
    }
}

@media only screen and (max-width: 200px){
    
}