/* Side Nav */

/* Add a black background color to the top navigation */
.sidenav{
    /* background: gold; */
    float: left;
    width: 25%;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* make both divs in the container equal height with overflow set to hidden in the containing element */
    padding-bottom: 500em;
    margin-bottom: -500em;
}

/* Style the links inside the navigation bar */
.sidenav a{
    display: block;
    padding: 12px 16px;
    color: rgb(126, 126, 117);
    text-decoration: none;
    font-size: 17px;
}
/* Style the container */
.row{
    padding: 0;
    margin: 0;
    /* background: red; */
    overflow: hidden;
    display: block;
}
/* Style the main content */
.main{
    float: left;
    width: 70%;
    /* make both divs in the container equal height with overflow set to hidden in the containing element */
    padding-bottom: 500em;
    margin-bottom: -500em;
    padding-left: 20px;
    
}

/* Media QUERIES */
@media screen and (max-width: 600px){
    /* Hide the Side Nav */
    .sidenav{
        display: none;
    }
    /* Style the .main section so that*/
    /* it takes much of the space of the page */
    .main{
        float: none;
        display: block;
        width: 95%;
        padding-bottom: 0;
        /* padding-left: 10px; */
        padding-right: 10px;
        margin-bottom: 0; 
        margin-right: 0;
        padding-left: 10px; /* IMPORTANT */
    }
    body{
        margin: 0px;
    }
}